body{
    font-family: 'Pacifico', cursive;
}
.heading1{font-size: 50px;

}
.top_section{
    display: flex;
}
.column{
    margin-top:  20px;
    float:left;
    width: 70%;
}
.column img{
    margin: 20px 20px 20px;    
    float:right;
    width: 90%;
    height: 250px;
    border-radius: 20px;
}

.row{
    display:flex;
}
.link_button{
    background-color: aqua; width: 100px ;    
    text-align: center;
    border-radius: 40px;
    font-size: 20px;
    
}
.image_container{
    position: relative;
    text-align: center;
    margin: 40px 0px 30px 0px;
    
}
/* Centered text */
.img-text{
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img-text img{
    /*position: absolute;*/
    top: 40%;
    left: 10%;
    right:100px;
 
    /*transform: translate(-50%, -50%);*/
    /*margin-left: 0px;*/
    width: 100%;
    height:auto;
  }
  .shadow-box{
      size: fit-content;
    box-shadow: 10px 10px 8px #888888; 
    background-color:lightblue;
    margin: 5px 5px 5px 5px;
    padding-left: 1%;
    border-radius: 10px;
    
     /* background-image:url(background_shapes/background6_banner_1a_filtered.jpg) linear-gradient(10px);*/

  }
  #follower{
    box-shadow: 10px 10px 8px #888888; 
    background-color: lightgrey;
    margin: 5px 5px 5px 5px;
    padding-left: 1%;
    border-radius: 10px;

  }
  .copy-right
  {background-color: lightseagreen;
    text-align: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace; 
  }
    #copy-name{
        font-size: 28px;
    font-weight: bold;
    color: brown;
}
#tag-line{
    font-size: 20px;
font-weight: bold;
}


    

